@import '../../common/variables.scss';

.searchBar {
    height: fit-content;
    align-items: center;
    display: flex;
    background-color: black;

    &__container {
        width: 100%;
        margin: 0px 20px;
        flex-direction: column;
        display: flex;
        margin: auto;   

        &__title, &__search {
            display: flex;
            justify-content: center;
            align-items: center;
             padding: 5px 0px;
        }

        &__title {
            h1 {
                color: $text-color;
                margin-top: auto;
            }

            img {
                height: 45px; 
            }                                   
        }

        &__search {           
            margin-bottom: 10px;
 
            input {
                font-family: $main-font;
                width: 200px;
                height: 30px;
                background-color: $input-field-color-normal;
                border: 1px solid $input-field-boarder-color;
                border-radius: 3px;
                transition: 0.5s;     
                font-size: 16px;           

                &:focus {
                    background-color: $input-field-color-active;
                    outline: none;
                    width: 250px;
                }
            }

            &_button {
                margin-left: 5px;
                height: 25px;
                border-radius: 3px;
                color: $button-text-color;
                background-color: $button-color-normal;
                align-items: center;
                display: flex;
                padding: 5px;
                transition: $long-animation-time;
                width: 110px;
                font-size: 18px;
                justify-content: center;

                &:hover {
                    background-color: $button-color-hovered;
                    cursor: pointer;
                }

                &:active {
                    transform: scale(0.85);
                }
            }
        }
    }
}

@media only screen and (min-width: 760px) {
    .searchBar {
        &__container {
            flex-direction: row;
            justify-content: space-between;

            &__search, &__title {
                margin: 0px 50px;
            }
        }
    }
}

@media only screen and (min-width: 950px) {
    .searchBar {
        &__container {
            max-width: 990px;
        
            &__search, &__title {
                margin: 5px;
            }
        }
    }
}
