.searchBar {
    height: fit-content;
    align-items: center;
    display: flex;
    background-color: black;

    &__container {
        width: 100%;
        margin: 0px 20px;
        flex-direction: column;
        display: flex;
        margin: auto;   

        &__title, &__search {
            display: flex;
            justify-content: center;
            align-items: center;
             padding: 5px 0px;
        }

        &__title {
            h1 {
                color: white;
                margin-top: auto;
            }

            img {
                height: 45px; 
            }                                   
        }

        &__search {           
            margin-bottom: 10px;
 
            input {
                font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
                width: 200px;
                height: 30px;
                background-color: #dcdcdc;
                border: 1px solid #cccccc;
                border-radius: 3px;
                transition: 1s;     
                font-size: 16px;           

                &:focus {
                    background-color: white;
                    outline: none;
                }
            }

            &_button {
                margin-left: 5px;
                height: 25px;
                border-radius: 3px;
                color: white;
                background-color: #128fdc;
                align-items: center;
                display: flex;
                padding: 5px;
                transition: 1s;
                width: 75px;
                font-size: 18px;
                justify-content: center;

                &:hover {
                    background-color: #5aafe4;
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .searchBar {
        &__container {
            flex-direction: row;
            justify-content: space-between;

            &__search, &__title {
                margin: 0px 50px;
            }
        }
    }
}

@media only screen and (min-width: 950px) {
    .searchBar {
        &__container {
            max-width: 1150px;
        
            &__search, &__title {
                margin: 5px;
            }
        }
    }
}
