@import '../../common/variables.scss';

.resultCard {
    margin: 20px auto 0px auto;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 200px auto;
    transition: box-shadow $long-animation-time;
    overflow: hidden;

    &:hover {
        box-shadow: 0 0 11px $box-shadow-color;
    }

    &__thumbnail {
        img {
            height: 200px;
            border-radius: 5px;
            transition: $long-animation-time;
            object-fit: cover;
            min-width: 100%;
            max-width: 100%;
        }
    }

    &__thumbnail, &__footer, &__tags, &__background {
        grid-row: 1;
        grid-column: 1;
        transition: all $short-animation-time linear;
        color: white;

        &:hover,
        &:hover ~ .resultCard__footer, 
        &:hover ~ .resultCard__tags,
        &:hover ~ .resultCard__background {
            opacity: 1;
        }

        &:hover ~ .resultCard__footer {
            transform: translateY(0px);
        }
    }

    &__footer {
        align-self: end;
        font-size: 14px;
        padding-left: 10px;
        padding-bottom: 4px;
        opacity: 0;
        pointer-events: none;
        text-align: left;
        transform: translateY(40px);
    
        &_author {
            font-weight: bold;
        }

        &:hover {
            transform: translateY(0px);
        }
    }

    &__background {
        opacity: 0;
        border-radius: 5px;
        pointer-events: none;
        background-image: linear-gradient(transparent 65%, $footer-background-color);
    }

     &__tags {
        opacity: 0;
        height: fit-content;

        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            padding: 5px 10px;
    
            &_tag {
                padding: 3px;
                border-radius: 5px;
                background-color: $tag-color-normal;
                margin: 5px 0px;
                cursor: pointer;
                margin-right: 10px;
                transition: $long-animation-time;
    
                &:hover {
                    background-color: $tag-color-hovered;
                }
            }
        } 
    }  
}