$long-animation-time: 0.5s;
$short-animation-time: 0.2s;

$main-font: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;

$tag-color-normal: #80808059;
$tag-color-hovered: #e8e7e759;
$input-field-color-normal: #dcdcdc;
$input-field-color-active: #ffffff;
$input-field-boarder-color: #cccccc;
$button-text-color: #ffffff;
$button-color-normal: #128fdc;
$button-color-hovered: #5aafe4;
$text-color: #ffffff;
$box-shadow-color: #212121cc;
$footer-background-color: #00000059;